.carousel-item {
    height: 70vh;
}

.carousel-inner {
    img {
        width: 100%;
    }
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
    min-height: 40px;
    overflow: hidden;
    position: absolute!important;
    bottom: 40vh!important;
    padding: 20px!important;
    border-radius: 10px; 
    border-top-left-radius: 0;
    h3 {
        color: black;
        opacity: 1!important;
        text-align: left;
        padding: 0px 0px 10px 0px!important;
        margin: 0!important;
        text-transform: uppercase;
        font-weight: 300;
    }
    p {
        color: black;
        opacity: 1!important;
        text-align: left;
        padding: 0!important;
        margin: 0!important;
    }
}

.carousel-caption:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.95);
}