@import 'variables';

.profile-container {
  background: $BackgroundDark;
  color: #fff;
  border-radius: 25px; 
  border-top-left-radius: 0;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  width: 300px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 300px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.profile-display-name {
  text-decoration: underline;
  font-size: 60px;
  padding-left: 15px
}

.store-button {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.store-button:hover {
  transform: scale(1.05);
}

#profilePage {
  background-color: $BackgroundLight;
  height: 100vh;
  display: flex;
  justify-content: center;
  .editBtn {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    a {
      color: $BackgroundDark;
    }
    a:hover{
        color: $SchemeOrange-Red;
    }
  }
  .profileCard {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
    background-color: white;
    align-items: center;
    width: 75%;
    box-shadow: 12px 12px black;
    .profilePhoto {
      padding-top: 1rem;
      border-radius: 50%;
      width: 10rem;
      height: auto;
    }
    .userName {
      padding-top: 2rem;
      font-family: $MainFont;
      font-weight: 600;
    }
    .buttonGroup {
      width: 98%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 5rem;
      text-decoration: none;
      a {
        color: black;
        font-family: $StyleFont;
      }
      a:hover {
        text-decoration: none;
        color: $SchemeOrange;
      }
    }
    .buttonGroupTwo {
      width: 98%;
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
      text-decoration: none;
      a {
        color: black;
        font-family: $StyleFont;
      }
      a:hover {
        color: #f9c74f;
        text-decoration: none;
      }
    }
    .tailInfo {
      position: sticky;
      margin-top: 4rem;
      h5 {
        font-size: 10px;
      }
    }
  }
}
