.sales-table-container {
  color: #fff;
  border-radius: 25px;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: $BackgroundDark;
}

.sales-table {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.sales-table th, td {
    background-color: $BackgroundMid;
    color: #fff;
}
