//for testing, an homage to Dr. T
$favColor: deepskyblue;

//pallete colors
$SchemeRed: #F94144;
$SchemeOrange-Red: #F3722C;
$SchemeOrange: #F8961E;
$SchemeYellow: #F9C74F;
$SchemeGreen: #90BE6D;
$SchemeBlue-Green: #43AA8B;
$SchemeBlue: #577590;

//optional background colors
$BackgroundLight: #8C92AC;
$BackgroundDark: #353839;

//fonts
$MainFont: 'Noto Sans', sans-serif;
$StyleFont: 'Roboto', sans-serif;
