@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'variables';
@import 'product';
@import 'productCategoryBar';
@import 'profile';
@import 'homeCarousel';
@import 'productForm';
@import 'navbar';
@import 'searchInput';

body, html, .App {
  background-color: $BackgroundLight;
}

.danger {
  background-color: $SchemeRed;
}

input, select {
  border-radius: 10px !important;
  border-top-left-radius: 0 !important;
  background-color: $BackgroundLight;
  width: 100%;
  border:none;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

input::placeholder {
  color: #fff;
}

select {
  color: #fff;
  font-size: 1.25rem;
}