@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'variables';
@import 'product';
@import 'productCategoryBar';
@import 'profile';
@import 'homeCarousel';
@import 'productForm';
@import 'navbar';
@import 'searchInput';
@import 'sellerShop';
@import 'cart';
@import 'sales';
@import 'singleProduct';
@import 'orders';
@import 'modal';
@import 'wheel';

body, html, .App {
  background-color: $BackgroundLight;
}

.danger {
  background-color: $SchemeRed;
}

input, select {
  border-radius: 10px !important;
  border-top-left-radius: 0 !important;
  background-color: $BackgroundMid !important;
  width: 100%;
  border:none;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
}

input::placeholder {
  color: #fff !important;
}

input:focus::placeholder {
  color: transparent;
}

select {
  color: #fff;
  font-size: 1.25rem;
}

.style-button {
  height: 38px;
  color: #fff;
  border: none;
  border-radius: 7px;
  border-top-left-radius: 0;
  padding: 0 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  transition: all .25s ease;
}

.style-button:hover {
  filter: saturate(60%);
  color: $BackgroundDark;
}

.underline {
  text-decoration: underline;
}